.App {
  font-family: sans-serif;
  text-align: center;
  
}

header {
  display:flex;
  justify-content: space-around; 
  font-size: 20px;
  background-color: burlywood;
  height: 50px;
}
footer{
  height: 50px;
  background-color: cadetblue;
}

div{
  height: 85vh;
  
}

footer{
  text-align: center;
  color: blue;
}